argument_specs:
  main:
    short_description: Main entry point
    options:
      {{ role_name }}__foo:
        required: false
        type: str
        default: hello
        description:
          - Dummy option.

      {{ role_name }}__bar:
        required: false
        type: str
        default: world
        description:
          - Dummy option.
